@charset "UTF-8";

.infoIm {
    width: 95%;
    height: 90%;
    margin: 5vh auto;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.principalInf{
    margin:auto;
    width: 90%;
    height:110vh;
	background-color: rgba(207, 124, 124,70%);
    display: flex;
}

.principalAlumno{
    margin:auto;
    width: 90%;
    height:470vh;
    background-color: rgba(203, 155, 125, 0.9);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(0, 0, 0, 0.8);
}

.agregar{
    width:90%;
    margin:0 auto;
    font-size: 1.20vw;
    display: flex;
}

.frameAgregar {
    margin:auto;
    border:0;
}

.formA {
    width: 50%;
    border-radius: 4px;
}

.alumno, .fecha, .curso{
    width: 50%;
    height: 4vh;
    border-radius: 3px;
    border:0;
}

.titulo {
    background-color: rgba(108, 40, 40, 0.826);
    color:rgb(206, 255, 232);
}

h2 {
    text-align: center;
}


